data=/dccstor/moshel/datasets/simple/cub/images/
num-classes=100
batch-size=128
split-dir=/dccstor/moshel/moshe/CRB/split/cub/
lr 0.1
lr-gamma 0.1
optimizer=SGD
meta-val-interval=4
workers=40
meta-val-metric=cosine
arch=wideres
save-path=/dccstor/moshel/moshe/CRB/results/cub/wideres
scheduler=multi_step
epochs=90
