data=/dccstor/moshel/datasets/simple/inat/
num-classes=908
batch-size=256
split-dir=/dccstor/moshel/moshe/CRB/split/inat/
lr 0.1
lr-gamma 0.1
optimizer=SGD
meta-val-interval=4
workers=40
meta-val-metric=cosine
arch=densenet121
save-path=/dccstor/moshel/moshe/CRB/results/inatural/softmax/densenet121
scheduler=step
epochs=90
lr-stepsize=30
