data=/dccstor/moshel/datasets/simple/cub/images/
num-classes=64
batch-size=64
split-dir=/dccstor/moshel/moshe/CRB/split/cub/
lr 0.1
lr-gamma 0.1
optimizer=SGD
meta-val-interval=4
workers=40
meta-val-metric=cosine
arch=densenet121
save-path=/dccstor/moshel/moshe/CRB/results/cross
scheduler=step
epochs=90
lr-stepsize=30
